& {
  .textarea-preview-container {
    display: flex;
    border: 1px solid #ccc;
    border-top: none;

    // 预览框
    .preview {
      flex-grow: 1;
      width: 0;
      word-wrap: break-word;
      border-left: 1px solid #ccc;
      padding: 10px;
    }

    // 输入框
    .textarea {
      flex-grow: 1;
      width: 0;
      min-height: 200px;
      outline: none;
      resize: none;
      border: none;
      padding: 10px;
      word-wrap: break-word;
    }
  }

  // 工具栏
  .tool-bar {
    background: #f6f6f6;
    border: 1px solid #ccc;
    font-size: 14px;
    user-select: none;
    .i {
      position: relative;
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      cursor: pointer;
      color: #444;
      display: inline-block;
      &:hover {
        background: white;
      }
    }
    ul {
      position: absolute;
      top: 30px;
      left: 0;
      display: none;
      list-style: none;
      border: 1px solid #ccc;
      border-top: none;
      z-index: 2;
      background: #f6f6f6;
      padding: 0;
      li {
        width: 60px;
        text-align: center;
        &:hover {
          background: white;
        }
      }
    }
    table {
      display: none;
      position: absolute;
      left: 0;
      top: 30px;
      z-index: 3;
      tr td {
        border: 1px solid #ccc;
        background: white;
      }
      td.active {
        background: #eee;
      }
      td.error {
        background: #FFD5D5;
      }
    }
  }
}